/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am33xx.dtsi"

/ {
	model = "TI AM335x CATCHWIRE";
	compatible = "ti,am33xx";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512 MB */
	};

	vmmcsd_fixed: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "vmmcsd_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&am33xx_pinmux {
	pinctrl-names = "default";
	pinctrl-0 = <&clkout2_pin &gpio_pin>;

	i2c0_pins: pinmux_i2c0_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x988, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (C17) I2C0_SDA.I2C0_SDA */
			AM33XX_IOPAD(0x98c, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (C16) I2C0_SCL.I2C0_SCL */
		>;
	};

	uart0_pins: pinmux_uart0_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x968, PIN_INPUT_PULLUP | MUX_MODE6 )	/* (E18) uart0_ctsn.uart0_ctsn */
			AM33XX_IOPAD(0x96c, PIN_OUTPUT | MUX_MODE6 )		/* (E17) uart0_rtsn.uart0_rtsn */
			AM33XX_IOPAD(0x970, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (E15) uart0_rxd.uart0_rxd */
			AM33XX_IOPAD(0x974, PIN_OUTPUT_PULLDOWN | MUX_MODE0 )	/* (E16) uart0_txd.uart0_txd */
		>;
	};

	clkout2_pin: pinmux_clkout2_pin {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x9b4, PIN_OUTPUT_PULLDOWN | MUX_MODE3 )	/* (D14) xdma_event_intr1.xdma_event_intr1 */
		>;
	};

	gpio_pin: pinmux_gpio_pin {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x800, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (U7) gpmc_ad0.gpio1[0] */
			AM33XX_IOPAD(0x804, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (V7) gpmc_ad1.gpio1[1] */
			AM33XX_IOPAD(0x9e8, PIN_OUTPUT_PULLDOWN | MUX_MODE7 )	/* (B14) EMU1.gpio3[8] */
		>;
	};

	cpsw_default: cpsw_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x914, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (J16) gmii1_txen.rgmii1_tctl */
			AM33XX_IOPAD(0x918, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (J17) gmii1_rxdv.rgmii1_rctl */
			AM33XX_IOPAD(0x91c, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (J18) gmii1_txd3.rgmii1_td3 */
			AM33XX_IOPAD(0x920, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (K15) gmii1_txd2.rgmii1_td2 */
			AM33XX_IOPAD(0x924, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (K16) gmii1_txd1.rgmii1_td1 */
			AM33XX_IOPAD(0x928, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (K17) gmii1_txd0.rgmii1_td0 */
			AM33XX_IOPAD(0x92c, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (K18) gmii1_txclk.rgmii1_tclk */
			AM33XX_IOPAD(0x930, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (L18) gmii1_rxclk.rgmii1_rclk */
			AM33XX_IOPAD(0x934, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (L17) gmii1_rxd3.rgmii1_rd3 */
			AM33XX_IOPAD(0x938, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (L16) gmii1_rxd2.rgmii1_rd2 */
			AM33XX_IOPAD(0x93c, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (L15) gmii1_rxd1.rgmii1_rd1 */
			AM33XX_IOPAD(0x940, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (M16) gmii1_rxd0.rgmii1_rd0 */

			AM33XX_IOPAD(0x840, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (R13) gpmc_a0.rgmii2_tctl */
			AM33XX_IOPAD(0x844, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (V14) gpmc_a1.rgmii2_rctl */
			AM33XX_IOPAD(0x848, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (U14) gpmc_a2.rgmii2_td3 */
			AM33XX_IOPAD(0x84c, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (T14) gpmc_a3.rgmii2_td2 */
			AM33XX_IOPAD(0x850, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (R14) gpmc_a4.rgmii2_td1 */
			AM33XX_IOPAD(0x854, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (V15) gpmc_a5.rgmii2_td0 */
			AM33XX_IOPAD(0x858, PIN_OUTPUT_PULLDOWN | MUX_MODE2 )	/* (U15) gpmc_a6.rgmii2_tclk */
			AM33XX_IOPAD(0x85c, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (T15) gpmc_a7.rgmii2_rclk */
			AM33XX_IOPAD(0x860, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (V16) gpmc_a8.rgmii2_rd3 */
			AM33XX_IOPAD(0x864, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (U16) gpmc_a9.rgmii2_rd2 */
			AM33XX_IOPAD(0x868, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (T16) gpmc_a10.rgmii2_rd1 */
			AM33XX_IOPAD(0x86c, PIN_INPUT_PULLDOWN | MUX_MODE2 )	/* (V17) gpmc_a11.rgmii2_rd0 */
		>;
	};

	cpsw_sleep: cpsw_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x914, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (J16) gmii1_txen.rgmii1_tctl */
			AM33XX_IOPAD(0x918, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (J17) gmii1_rxdv.rgmii1_rctl */
			AM33XX_IOPAD(0x91c, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (J18) gmii1_txd3.rgmii1_td3 */
			AM33XX_IOPAD(0x920, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (K15) gmii1_txd2.rgmii1_td2 */
			AM33XX_IOPAD(0x924, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (K16) gmii1_txd1.rgmii1_td1 */
			AM33XX_IOPAD(0x928, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (K17) gmii1_txd0.rgmii1_td0 */
			AM33XX_IOPAD(0x92c, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (K18) gmii1_txclk.rgmii1_tclk */
			AM33XX_IOPAD(0x930, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (L18) gmii1_rxclk.rgmii1_rclk */
			AM33XX_IOPAD(0x934, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (L17) gmii1_rxd3.rgmii1_rd3 */
			AM33XX_IOPAD(0x938, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (L16) gmii1_rxd2.rgmii1_rd2 */
			AM33XX_IOPAD(0x93c, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (L15) gmii1_rxd1.rgmii1_rd1 */
			AM33XX_IOPAD(0x940, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (M16) gmii1_rxd0.rgmii1_rd0 */

			AM33XX_IOPAD(0x840, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (R13) gpmc_a0.rgmii2_tctl */
			AM33XX_IOPAD(0x844, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (V14) gpmc_a1.rgmii2_rctl */
			AM33XX_IOPAD(0x848, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (U14) gpmc_a2.rgmii2_td3 */
			AM33XX_IOPAD(0x84c, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (T14) gpmc_a3.rgmii2_td2 */
			AM33XX_IOPAD(0x850, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (R14) gpmc_a4.rgmii2_td1 */
			AM33XX_IOPAD(0x854, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (V15) gpmc_a5.rgmii2_td0 */
			AM33XX_IOPAD(0x858, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (U15) gpmc_a6.rgmii2_tclk */
			AM33XX_IOPAD(0x85c, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (T15) gpmc_a7.rgmii2_rclk */
			AM33XX_IOPAD(0x860, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (V16) gpmc_a8.rgmii2_rd3 */
			AM33XX_IOPAD(0x864, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (U16) gpmc_a9.rgmii2_rd2 */
			AM33XX_IOPAD(0x868, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (T16) gpmc_a10.rgmii2_rd1 */
			AM33XX_IOPAD(0x86c, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (V17) gpmc_a11.rgmii2_rd0 */
		>;
	};

	davinci_mdio_default: davinci_mdio_default {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x948, SLEWCTRL_SLOW | PIN_INPUT_PULLUP | MUX_MODE0 )	/* (M17) mdio_data.mdio_data */
			AM33XX_IOPAD(0x94c, PIN_OUTPUT_PULLUP | MUX_MODE0 )			/* (M18) mdio_clk.mdio_clk */
		>;
	};

	davinci_mdio_sleep: davinci_mdio_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x948, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (M17) mdio_data.mdio_data */
			AM33XX_IOPAD(0x94c, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (M18) mdio_clk.mdio_clk */
		>;
	};

	mmc1_pins_default: pinmux_mmc1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8f0, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (F17) mmc0_dat3.mmc0_dat3 */
			AM33XX_IOPAD(0x8f4, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (F18) mmc0_dat2.mmc0_dat2 */
			AM33XX_IOPAD(0x8f8, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (G15) mmc0_dat1.mmc0_dat1 */
			AM33XX_IOPAD(0x8fc, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (G16) mmc0_dat0.mmc0_dat0 */
			AM33XX_IOPAD(0x900, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (G17) mmc0_clk.mmc0_clk */
			AM33XX_IOPAD(0x904, PIN_INPUT_PULLUP | MUX_MODE0 )	/* (G18) mmc0_cmd.mmc0_cmd */
			AM33XX_IOPAD(0x888, PIN_INPUT | MUX_MODE7 )		/* (T13) gpmc_csn3.gpio2[0] */
		>;
	};

	mmc1_pins_sleep: pinmux_mmc1_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x8f0, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (F17) mmc0_dat3.mmc0_dat3 */
			AM33XX_IOPAD(0x8f4, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (F18) mmc0_dat2.mmc0_dat2 */
			AM33XX_IOPAD(0x8f8, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (G15) mmc0_dat1.mmc0_dat1 */
			AM33XX_IOPAD(0x8fc, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (G16) mmc0_dat0.mmc0_dat0 */
			AM33XX_IOPAD(0x900, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (G17) mmc0_clk.mmc0_clk */
			AM33XX_IOPAD(0x904, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (G18) mmc0_cmd.mmc0_cmd */
			AM33XX_IOPAD(0x888, PIN_INPUT_PULLDOWN | MUX_MODE7 )	/* (T13) gpmc_csn3.gpio2[0] */
		>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;

	status = "okay";
};

&usb {
	status = "okay";

	control@44e10620 {
		status = "okay";
	};

	usb-phy@47401b00 {
		status = "okay";
	};

	usb@47401000 {
		dr_mode = "host";
	};

	usb@47401800 {
		status = "okay";
		dr_mode = "host";
	};

	dma-controller@47402000  {
		status = "okay";
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;

	status = "okay";
	clock-frequency = <100000>;
	sleep-sequence = <0x2240b6d 0x2241002 0x2240b6d 0x2241002 0x2240b6c 0x2241186 0x2240b6c 0x2241186>;
	wake-sequence = <0x2240b6d 0x2241008 0x2240b6d 0x2241008 0x2240b6c 0x2241186 0x2240b6c 0x2241186>;


	tps: tps@24 {
		reg = <0x24>;
	};

	baseboard_eeprom: baseboard_eeprom@50 {
		compatible = "at,24c256";
		reg = <0x50>;
	};
};

&tps {
	compatible = "ti,tps65217";

	regulators {
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		dcdc1_reg: regulator@0 {
			reg = <0x0>;
			regulator-compatible = "dcdc1";
			regulator-always-on;
		};

		dcdc2_reg: regulator@1 {
			reg = <0x1>;
			regulator-compatible = "dcdc2";
			/* VDD_MPU voltage limits 0.95V - 1.325V with +/-4% tolerance */
			regulator-name = "vdd_mpu";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1325000>;
			regulator-boot-on;
			regulator-always-on;
		};

		dcdc3_reg: regulator@2 {
			reg = <0x2>;
			regulator-compatible = "dcdc3";
			/* VDD_CORE voltage limits 0.95V - 1.1V with +/-4% tolerance */
			regulator-name = "vdd_core";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1150000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo1_reg: regulator@3 {
			reg = <0x3>;
			regulator-compatible = "ldo1";
			regulator-always-on;
		};

		ldo2_reg: regulator@4 {
			reg = <0x4>;
			regulator-compatible = "ldo2";
			regulator-always-on;
		};

		ldo3_reg: regulator@5 {
			reg = <0x5>;
			regulator-compatible = "ldo3";
			regulator-always-on;
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		ldo4_reg: regulator@6 {
			reg = <0x6>;
			regulator-compatible = "ldo4";
			regulator-always-on;
		};

		rtc@44e3e000 {
			ti,system-power-controller;
		};
	};
};

&cpsw_emac0 {
	phy_id = <&davinci_mdio>, <3>;
	phy-mode = "rgmii-txid";
};

&cpsw_emac1 {
	phy_id = <&davinci_mdio>, <1>;
	phy-mode = "rgmii-txid";
};

&mac {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&cpsw_default>;
	pinctrl-1 = <&cpsw_sleep>;

};

&davinci_mdio {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&davinci_mdio_default>;
	pinctrl-1 = <&davinci_mdio_sleep>;
};

&mmc1 {
	status = "okay";
	bus-width = <0x4>;
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins_default>;
	gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
	cd-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
	cd-inverted;
	vmmc-supply = <&vmmcsd_fixed>;
};

&aes {
	status = "okay";
};

&sham {
	status = "okay";
};

&elm {
	status = "okay";
};
